<!DOCTYPE html>
<html lang="en">
<head>
<title>EJS</title>
<!-- local css file in public directory -->
<link rel="stylesheet" href="./myui.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
       <a href="/about">About Us</a>
       <a href="/staff">Staff</a>
    </nav> 

    <div class="jumbo">
        <h1> <%= tdata  %>  </h1>
    </div>

    <main>
        
        <p>This is a node express app web development company.</p>

    </main>
    
</body>
</html>
