<!DOCTYPE html>
<html lang="en">

<head>
    <title>EJS</title>
    <!-- local css file in public directory -->
    <link rel="stylesheet" href="./myui.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About Us</a>
        <a href="/staff">Staff</a>
    </nav>

    <main>
        <h1>
            <%= tdata %>
        </h1>
        <div>
        
            <% if(typeof staff_data !=='undefined' ) { staff_data.forEach(staff=> { %>
                    
                       <h3> <%= staff.name %></h3>
                       <p>Email: <a href="mailto: <%= staff.email %>"> <%=staff.email %></a></p>
                  

                <% }); }%>
        
            </div>

    </main>

</body>

</html>